@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  background-color: #f1f1f1;
}
.font-oswald-title{
  font-family: Oswald;
  font-weight: 700;
  font-size: 25px;
}

.font-outfit{
  font-family: Outfit;
}

.form form input{
  background: white;
  margin: 10px 0;
  padding: 10px 20px;
  width: 350px;
  outline: none;
  font-weight: 500;
  color: #4F96FB;
  font-family: Outfit;
  border-radius: 15px;
}
.signin{
  transition: 0.2s ease-in;
}
.img{
  position: relative;
  left: 80px;
}
.subHead{
  font-family: Outfit;
  font-size: 20px;
  font-weight: 400;
  margin: 18px 0;
}
.riskBar{
  margin: 16px 0;
}